/* ============ Burger Menu  ============ */

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Masque la checkbox */
.checkbox {
  display: none;
}

/* Style pour l'icône hamburger */
.hamburger-lines {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2rem;
  cursor: pointer;
}

.line {
  height: 0.4rem;
  width: 100%;
  background: #2f201d;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Style pour les éléments du menu */
.menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c39c70db;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}

/* Affiche le menu lorsque le checkbox est coché */
.checkbox:checked ~ .menu-items {
  transform: translateX(0);
}

/* Animation pour l'icône burger lorsqu'elle est active */
.checkbox:checked ~ .hamburger-lines .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.checkbox:checked ~ .hamburger-lines .line2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-lines .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Styles pour les éléments de la liste */
.menu-items li {
  margin: 1rem 0;
  padding-top: 1.3rem;
  text-align: center;
  font-weight: 600;
  font-size: 2.1rem;
}

.menu-items li a {
  color: #2f201d;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-items li a:hover {
  color: #ccc;
}
