@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --main-bg-color: #1D1000;
    --secondary-bg-color: #F3D5B5;
    --tertiary-bg-color: #D4A276;
    background-color: var(--main-bg-color);
    font-family: "Outfit", sans-serif;
}

h1, h2, h3 {
    font-family: "Chewy", sans-serif;
}


/* 
Format mobile
*/ 

@media (min-device-width : 320px) {

    header {
        background-color: var(--tertiary-bg-color);
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        margin: 10px 10px;;
        position: static;
    }

/*     .div-logo {
        display: flex;
        align-items: flex-start;
    } */

    .logo {
        width: 75px;
        margin-left: 10px;
        position: absolute;
        z-index: 2;
    }

    h1 {
        width: 70px;
        text-align: right;
        font-size: larger;
        font-weight: 700;
        position: relative;
        z-index: 0;
        margin-left: 60px;
    }

    h2 {
        text-align: center;
        font-weight: 500;
        margin-bottom: 20px;
    }

    nav {
        display: none;
    }

    .nav-icon{
        width: 35px;
        height: 30px;
        margin: 10px 30px;
        position: relative;
        cursor: pointer;
        display: inline-block;
      }

      .nav-icon span{
        background-color: var(--main-bg-color);
        position: absolute;
        border-radius: 2px;
        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
        width: 100%;
        height: 4px;
        transition-duration: 500ms
      }

      .nav-icon span:nth-child(1) {
        top:0px;
        left: 0px;
      }

      .nav-icon span:nth-child(2) {
        top:13px;
        left: 0px;
        opacity:1;
      }

      .nav-icon span:nth-child(3) {
        bottom:0px;
        left: 0px;
      }

      .nav-icon:not(.open):hover span:nth-child(1) {
        transform: rotate(-3deg) scaleY(1.1);
      }

      .nav-icon:not(.open):hover span:nth-child(2) {
        transform: rotate(3deg) scaleY(1.1);
      }

      .nav-icon:not(.open):hover span:nth-child(3) {
        transform: rotate(-4deg) scaleY(1.1);
      }

      .nav-icon.open span:nth-child(1) {
        transform: rotate(45deg);
        top: 13px;
      }
      
      .nav-icon.open span:nth-child(2) {
        opacity:0;
      }
      .nav-icon.open span:nth-child(3) {
        transform: rotate(-45deg);
        top: 13px;
      }

      main {
        display: flex;
        flex-direction: column;
      }

      .main-img {
        min-width: 15%;
        max-width: 50%;
        margin: 20px auto;
      }

      .booklet-link {
        background-color: #F3D5B5;
        border-radius: 20px;
        align-self: center;
        padding: 25px 25%;
        text-align: center;
      }

      article {
        background-color: #F3D5B5;
        border-radius: 40px;
        margin: 20px 20px;
        padding: 25px 20px;
      }

      .content-img {
        border-radius: 20px;
      }
}