  </head>
  <body>
    <header>
      <div class="div-logo" id="div-logo">
        <a href="index.html">
          <img
            class="logo"
            src="./img/logo.svg"
            alt="Grains de café stylisés"
            aria-label="Grains de café stylisés"
          />
          <h1>Aux Éclats torréfiés</h1>
        </a>
      </div>

      <nav class="navbar">
        <input class="checkbox" type="checkbox" name="" id="menu-toggle" />
        <label class="hamburger-lines" for="menu-toggle">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </label>
        <ul class="menu-items">
          <li><a href="index.html">Accueil</a></li>
          <li>
            <a href="boutique.html" target="_blank" rel="noopener noreferrer"
              >Notre boutique</a
            >
          </li>
          <li><a href="catalogue.html">Nos cafés</a></li>
          <li><a href="contact.html">Nous contacter</a></li>
        </ul>
      </nav>
    </header>

    <main>