<%- include('partials/head') %>

<title>Éclats torréfiés - Café machintruc</title>

<%- include('partials/header') %>

<section>
  <article class="breadcrumb">
    <ul>
      <li>Accueil</li>
      <li>Détail du café</li>
    </ul>
  </article>
</section>
<section>
  <img src="../public/img/105589090.png" alt="" />

  <article class="published">
    <p>Publié le XX / XX / 202X</p>
  </article>

  <article class="article-title-detail">
    <h2 class="title-detail">Expresso</h2>
  </article>

  <article class="description">
    <p>
      <span>Description</span> : Café fort et concentré préparé en faisant
      passer de l'eau chaude à travers du café finement moulu.
    </p>
    <p><span>Référence</span> : 100955890</p>
    <p><span>Origine</span> : Italie</p>
    <p><span>Prix au kilo</span> : 20.99 €</p>
    <p><span>Caractéristique principale</span> : Corsé</p>
    <p><span>Disponible</span> : Oui</p>
  </article>

  <%- include('partials/footer') %>
</section>
