<%- include('partials/head') %>

<title>Éclats torréfiés - Contact</title>

<%- include('partials/header') %>

<article class="breadcrumb">
  <ul>
    <li>Accueil</li>
    <li>Contact</li>
  </ul>
</article>

<article>
  <h2>Nos horaires</h2>
  <p>Lundi : 09h30 - 12h30 / 13h30 - 19h00</p>
  <p>Mardi : 09h30 - 12h30 / 13h30 - 19h00</p>
  <p>Mercredi : 09h30 - 12h30 / 13h30 - 19h00</p>
  <p>Jeudi : 09h30 - 12h30 / 13h30 - 19h00</p>
  <p>Vendredi : 09h30 - 12h30 / 13h30 - 19h00</p>
  <p>Samedi : 09h30 - 12h30 / 14h30 - 19h00</p>
  <p>Dimanche : Fermé</p>
</article>

<article>
  <h2>Nous trouver</h2>
  <p>leaflet</p>
</article>

<article>
  <h2>Nous contacter</h2>
  <form action="" method="post">
    <label for="lastname">Nom</label>
    <input type="text" name="lastname" id="lastname" required />
    <label for="firstname">Prénom</label>
    <input type="text" name="firstname" id="firstname" />
    <label for="email">Mail</label>
    <input type="email" name="email" id="email" required />
    <label for="message">Votre message</label>
    <input type="textarea" name="message" id="message" required />
    <button type="submit">Envoyer</button>
  </form>

  <%- include('partials/footer') %>
</article>
