<!-- ajouter head  -->
 <%- include('partials/head')  %>

<title>Éclats torréfiés - Accueil</title>

<!-- ajouter header -->
 <%- include('partials/header')  %>

      <img
        src="./img/105589090.png"
        class="main-img"
        alt="Mains de torrefacteurs tenant des graines de café"
        aria-label="Mains de torrefacteurs tenant des graines de café"
      />

      <article class="introduction">
        <h2>Qui sommes-nous ?</h2>
        <p>
          Jean et Jacques Pepper, deux frères passionnés par le café, sont les
          fondateurs de notre boutique. Avec une expertise approfondie et un
          amour profond pour cette délicieuse boisson, ils ont créé un espace où
          le café est célébré comme une expérience raffinée et inspirante.
        </p>
      </article>

      <a class="booklet-link" href="catalogue.html">Notre catalogue</a>

      <section class="coffee-samples">
        <article>
          <img
            src="./img/753915650.png"
            class="coffee-samples-img"
            alt="Grains de café expresso"
            aria-label="Grains de café expresso"
          />
          <h2 class="coffee-samples-title">Expresso</h2>
          <p>
            Description : Café fort et concentré préparé en faisant passer de
            l'eau chaude à travers du café finement moulu.
          </p>
          <a href="detail.html">Découvrir</a>
        </article>
        <article>
          <img
            src="./img/753915650.png"
            class="coffee-samples-img"
            alt="Grains de café expresso"
            aria-label="Grains de café expresso"
          />
          <h2 class="coffee-samples-title">Expresso</h2>
          <p>
            Description : Café fort et concentré préparé en faisant passer de
            l'eau chaude à travers du café finement moulu.
          </p>
          <a href="detail.html">Découvrir</a>
        </article>
        <article>
          <img
            src="./img/753915650.png"
            class="coffee-samples-img"
            alt="Grains de café expresso"
            aria-label="Grains de café expresso"
          />
          <h2 class="coffee-samples-title">Expresso</h2>
          <p>
            Description : Café fort et concentré préparé en faisant passer de
            l'eau chaude à travers du café finement moulu.
          </p>
          <a href="detail.html">Découvrir</a>
        </article>
 
<!-- ajouter le footer -->
 <%- include('partials/footer')  %>